@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef7f0;
  --foreground: #5a5a5a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
